<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Seymour+One&display=swap" rel="stylesheet">

<div class="container">
  <div>
    <div class="col-md-12">
      <div class="text-center">
        <h1>Quotes Site</h1>
        <h4>Inspirational Quotes</h4>
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        
        <app-quote-form (addQuotes)="addNewQuote($event)"></app-quote-form>
      </div>
      <div class="col-md-6">
        <ul>
          <div *ngFor="let quote of quotes; let i = index" class="details" >
            <li>
              By: {{ quote.by }}
            </li>
            <br>
            <button (click)="like()"><i class="fas fa-thumbs-up" aria-hidden="true"></i></button>{{ quote.likeNo }}
            <button (click)="dislike()"><i class="fas fa-thumbs-down" aria-hidden="true"></i></button>{{ quote.dislikeNo }}
            <button class="btn btn-secondary" (click)="toggleDetails(i)"> Click to open quote</button><br>
            <app-quote-details *ngIf="quote.showDescription" [quote]="quote"></app-quote-details><br>
            <button class="btn btn-danger" (click)="QuoteDelete(i)">Delete</button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>



